
body {

    font-family: "Righteous", sans-serif;
    font-style: normal;
    overflow: hidden;
    margin: 0px;
    background-position: center center;
    background-size: cover; 
    background-color: black;
}

.nav nav {
    font-size: 150%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    height: max-content;
    width: 100%;
}

.nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

h1{
    color: rgb(255, 255, 255);
}



.nav a{
    color: rgb(155, 127, 207);
    text-decoration: none;
    padding: 10px;
}

.nav a:hover{
    color: rgb(96, 77, 131);

}

.content{
    align-items: center;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background: url("../img/galaxy/background2.gif");
    height: 100vh;
    background-position: center center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    list-style-type: none;
    text-decoration: none;
}


.botao{
    background-color: #2196F3;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    font-family: "Righteous", sans-serif;
}
.botao:hover{
    background-color: #2a7bbd;
}


.astronauta{
    z-index: 300;
    position: absolute;
    margin-top: 30%;
    margin-left: 23%;
    height: 30%;
}


.astronauta2{
    z-index: -2;
    position: absolute;
    margin-bottom: 20%;
    margin-right: 23%;
    height: 10%;
}

.lua{
    z-index: 1;
    position: absolute;
    margin-top: 30%;
    margin-left: 15%;
    height: 40%;
}

.planeta1{
    z-index: -3;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 70%;
    height: 50%;
}


.planeta2{
    z-index: -8;
    position: absolute;
    margin-top: 10%;
    margin-right: 30%;
    height: 30%;
}

.planeta3{
    z-index: -9;
    position: absolute;
    margin-top: 25%;
    margin-right: 70%;
    height: 25%;
}
.planeta4{
    z-index: -3;
    position: absolute;
    margin-bottom: 10%;
    margin-left: 70%;
    height: 30%;
}

.planeta5{
    z-index: -3;
    position: absolute;
    margin-top: 15%;
    margin-left: 75%;
    height: 30%;
}

.planeta6{
    z-index: -3;
    position: absolute;
    margin-bottom: 20%;
    margin-right: 30%;
    height: 10%;
}

.planeta7{
    z-index: -3;
    position: absolute;
    margin-bottom: 25%;
    margin-left: 40%;
    height: 10%;
}

.planeta8{
    z-index: -3;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 10%;
    height: 10%;
}

.planeta9{
    z-index: -99;
    position: absolute;
    margin-bottom: 30%;
    margin-right: 50%;
    height: 25%;
}

.planeta10{
    z-index: -3;
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    height: 10%;
}